:root {
  --logo1: #4df01a;
  --logo2: #4c4c4c;
  --link: #5849fc;
  --button: #0d7e0c;
  /* --button: #77d13f; */
  --bg1: #fefefe;
  --bg2: #e0e0ea;
  --text: #1e1e24;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg1);
}

/* NAVBAR */

#logo-text-applied,
#logo-text-movement {
  font-size: 1.25em;
}
#logo-text-applied {
  color: var(--logo1);
}
#logo-text-movement {
  color: var(--logo2);
}

.link {
  color: var(--text);
}

.link:hover {
  color: var(--link);
  text-decoration: none;
}

.nav {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 700;
  background-color: var(--bg1);
  padding: 0.5rem 0 0.25rem 0;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--logo1);
}

.nav-pills .nav-link.active:hover {
  color: var(--text);
}

.btn-logo1 {
background-color: var(--logo1);
color: white;
}

.btn-bg2 {
background-color: var(--bg2);
color: white;
}

.jumbotron {
  background-color: var(--bg2);
  margin: 0 0.25rem;
}

/* FOOTER */

.footer > .container {
  width: auto;
  max-width: 680px;
  padding: 0 5px;
}

.footer {
  background-color: var(--bg2);
}

footer {
  position: relative;
  top: 15rem;
  text-align: center;
  color: var(--logo2);
}

/* HOME component */

.cta-heading,
.features-heading {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

.cta-button {
  background-color: var(--logo1);
  color: #ffffff;
}

.card-title {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.card-deck {
  margin-top: 5rem;
}

/* FEATURES component */

#features {
  margin-bottom: 6rem;
}

.features-button {
  background-color: var(--link);
  padding: 5px 10px;
  border-radius: 7px;
  margin-bottom: 10px;
  color: #ffffff;
}

.features-cards {
  margin-top: 4rem;
}

.col.mb-4 > .card {
  position: relative;
  transition: 0.3s;
}

.col.mb-4 > .card:hover {
  top: -15px;
  transform: translate(0, -5px);
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}

/* CONTACT component */

#contact {
  margin-bottom: 6rem;
}

.contact-form {
  display: flex;
  justify-content: center;
}

.contact {
  width: 50%;
}

.submit-button {
  background-color: var(--logo1);
  color: #ffffff;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  #features, #contact {
    margin-bottom: 12rem;
  }
}
